***********************************************************************************************
*                                                                                             *
* DRILL TAPE SUMMARY REPORT                                                                   *
*                                                                                             *
* C:\USERS\RAJ\DOCUMENTS\CATAGORIES\SENSORS, MODULES\OPA381 LIGHT SENSOR\EL\LAYOUT\FINAL.MAX  *
* Mon Jul 06 22:31:41 2020                                                                    *
*                                                                                             *
***********************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       98       8        200      100                                                                                 
T2       315      4        200      100                                                                                 
T3       394      90       200      100                                                                                 
